# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env
.env.bot1
.env.bot2
.env.bot3

# JetBrains IDEs
.idea/

# Project-specific
logs/
temp/
postgres_data/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
